.DS_Store
*.apk
frameworks/runtime-src/proj.android/assets
frameworks/runtime-src/proj.android/bin
frameworks/runtime-src/proj.android/gen
frameworks/runtime-src/proj.android/libs/armeabi
frameworks/runtime-src/proj.android/obj
frameworks/runtime-src/proj.android/out
frameworks/runtime-src/proj.android/local.properties
frameworks/runtime-src/proj.ios_mac/*.xcodeproj/project.xcworkspace/xcuserdata
frameworks/runtime-src/proj.ios_mac/*.xcodeproj/xcuserdata
frameworks/runtime-src/proj.ios_mac/*.xcodeproj/project.xcworkspace/xcshareddata/*.xccheckout
frameworks/runtime-src/proj.android/.idea/workspace.xml
